@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&display=swap');

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #444;
    font-size: 20px;
}

#banner {
    width: 100%;
    height: 250px;
    background-color: #5fe075;
    padding: 60px 200px 0 200px;
}

#banner h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

#banner h2 {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

#download_area {
    height: calc(100vh - 310px);
}

#download_area h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

#download_area p {
    text-align: center;
    margin-bottom: 20px;
}

#download_button_outer {
    height: 60px;
    position: relative;
}

#download_button_inner {
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #5fe075;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
    user-select: none;
    font-weight: 600;
}

#download_button_inner:hover {
    background-color: #52c465;
}

a {
    text-decoration: none;
}